# TEMPORÁRIOS
*.bak*
*.tmp
*.log
*.flock

# TEXTO / CONFIG GERADO
*.ini
*.txt

# QUARTUS / FPGA (GERADOS)
db/
incremental_db/
output_files/
simulation/

*.done
*.smsg
*.summary
*.jdi
*.pin
*.sld
*.rpt
*.qws
*.qdf

# Bitstreams / programação FPGA
*.sof
*.pof

# Outros gerados pelo Quartus
*.map.*
*.fit.*
*.sta.*
*.flow.*
*.asm.*
*.cdf
*.bsf

# MODELSIM
work/
transcript
vsim.wlf
*.wlf

# Arquivos de simulação
*.vstf
*.ucdb

# SISTEMA / IDE
.DS_Store
.vscode/
.idea/